{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<!--  Inscription investisseurs -->
<section id="inscription" class="bg-light">

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h5 class="mb-3">Connexion investisseur</h5>
                <h1 class="text-uppercase text-center">Connexion</h1>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mx-auto">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary mt-5" type="submit" id="connexion">
        Connexion
    </button>
</form>
</div>
</div>
<div class="row">
    <div class="col-10 offset-1 text-center py-5  connexion">
        <a href="{{ path('app_register') }}" class="formulaire text-mute">Pas de compte ? Créez-en un</a><br />
        <a href="{{ path('app_forgot_password_request') }}" class="formulaire">Mot de passe oublié ?</a>


    </div>
</div>
</div>

</section>
{% endblock %}
